.scrool {
  width: rem(25px);
  height: rem(55px);
  padding: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  outline: none;
}

.scrool__left {
  left: rem(-40px);
}

.scrool__right {
  right: rem(-40px);
}

.scrool-left {
  width: rem(25px);
  height: rem(14px);
  transform: rotate(90deg);
  position: absolute;
  left: 0;

  @include tablets {
    left: rem(-5px);
  }
}

.scrool-right {
  width: rem(25px);
  height: rem(14px);
  transform: rotate(270deg);
  padding: 0;
  position: absolute;
  right: 0;

  @include tablets {
    right: rem(-5px);
  }
}
