.accordeon {
    font-size: rem(14px);
    color: #fff;

    &_menu {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        width: 70%;
        justify-content: flex-end;
    }
}

.accordeon__block {
    display: flex;
    height: 0;
    overflow: hidden;
}

.accordeon__item {
    margin-bottom: rem(20px);
}

.accordeon__item_active {
    margin-bottom: rem(40px);

    .accordeon__title {
        color: $yellow;

        &:before {
            content: "";
        border: rem(5px) solid transparent;
        border-bottom: rem(5px) solid;
        border-top: rem(0px);
        margin-right: rem(10px);
        }
    }

    .accordeon__block {
        height: auto;
    }
}

.accordeon__title {
    font-family: 'gagalinregular';
    margin-bottom: rem(15px);
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
        content: "";
        border: rem(5px) solid transparent;
        border-top: rem(5px) solid $yellow;
        border-bottom: rem(0px);
        margin-right: rem(10px);
    }
}

.accordeon__photo {
    background: url('../../image/photo1.jpg') center no-repeat / cover;
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    flex: 0 0 auto;
}

.accordeon__desc {
    font-family: 'ubuntulight';
    margin-left: rem(20px);
    
}

.accordeon__subtitle {
    font-family: 'ubuntubold';
    margin-bottom: rem(15px);
}

.accordeon__text {
    line-height: 1.7;
}