.best {
    background: url('../../image/bg/bg.jpg') center center / cover no-repeat;
}

.best__list {
    display: flex;
    margin-top: rem(54px);
}

.best__item {
    flex: 1;
    text-align: center;
    margin-right: rem(35px);
    width: rem(295px);

    &:last-child {
        margin-right: 0;
    }
}

.best__pic-meat {
    width: rem(96px);
    height: rem(89px);
}

.best__pic-hand {
    width: rem(73px);
    height: rem(86px);
}

.best__pic-natural {
    width: rem(88px);
    height: rem(75px);
}

.best__desc {
    margin-top: rem(20px);
    
    &_three {
        margin-top: rem(30px);
    }
}

.best__title {
    font-size: rem(24px);
    font-family: 'lifehackmedium';
    
}

.best__desc-text {
    font-family: 'ubuntulight';
    font-size: rem(14px);
    line-height: 1.7;
    margin-top: rem(15px);
    color: #585a5a;
}