.hamburger-menu {
    width: rem(25px);
    height: rem(27px);
    position: relative;
    margin-left: rem(30px);
    display: none;

    @include tablets {
        display: flex;
    }

    @include phones {
        margin-bottom: rem(5px);
    }
}

.hamburger-menu span {
    position: absolute;
    top: 50%;
    width: 100%;
    height: rem(5px);
    background-color: white;
    border-radius: rem(2px);

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: rem(5px);
        background-color: white;
        border-radius: rem(2px);
        margin-top: rem(7px);

        @include phones {
            height: rem(4px);
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: rem(-12px);
        width: 100%;
        height: rem(5px);
        background-color: white;
        border-radius: rem(5px);
    }
}
