.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-family: 'ubuntumedium';
    padding-top: 7px;
}

.header__logo {
    width: 100px;
    height: 80px;
}

.header__buttons {
    display: flex;
    align-items: center;
}