.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rem(13px);
    font-family: 'ubuntumedium';
    padding-top: rem(10px);
}

.header__logo {
    margin: rem(2px) 0 0 rem(3px);
    width: rem(92px);
    height: rem(69px);
    flex: 0 0 auto;
}

.header__buttons {
    display: flex;
    align-items: center;
}