.hero {
    background: url('../../image/bg/Rectangle11.jpg') no-repeat center center / cover;
    position: relative;
}

.hero__container {
    height: 100%;
}

.hero__content {
    display: flex;
    align-items: center;
    flex: .7;
    margin-left: 20px;
}

.hero__content-pic {
    max-width: 100%;
    flex: 0 0 auto;
}

.hero__desc {
    margin-top: 65px;
    margin-left: 15px;
}

.hero__subtitle {
    font-size: 65px;
    font-family: 'lifehackmedium';
    color: #fff;
    line-height: 1;
    margin-top: 20px;
}