.hero {
    background: url('../../image/bg/Rectangle11.jpg') no-repeat center center / cover;
    position: relative;
}

.hero__container {
    height: 100%;
    padding-bottom: 15%;
}

.hero__content {
    display: flex;
    align-items: center;
    flex: .7;
    margin-left: rem(20px);

    @include tablets {
        flex-direction: column;
        margin-left: 0;
        text-align: center;
        padding: 0 10%;
    }
}

.hero__content-pic {
    max-width: 100%;
    flex: 0 0 auto;
}

.hero__desc {
    margin-top: rem(65px);
    margin-left: rem(15px);

    @include tablets {
        margin-left: 0;
    }
}

.hero__subtitle {
    font-size: rem(65px);
    font-family: 'lifehackmedium';
    color: #fff;
    line-height: 1;
    margin-top: rem(20px);
}