.scroll-down-btn {
    width: 29px;
    height: 14px;
    background: url('../../image/arrow-scroll.svg') center center / contain no-repeat;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 40px;
}