.title {
    font-size: rem(72px);
    font-family: 'gagalinregular';
    color: $yellow;
    line-height: 1;

    &_color {
        &_black {
            color: $black;
            font-size: 72px;
        }

        &_white {
            color: white;
        }
    }
    
    &_centered {
        text-align: center;
    }

    &_team {
        margin-bottom: rem(50px);
    }
}

.title__menu {
    margin: 7.7% 0 0 16.5%;
}